        
        .mode-set {
            position: relative;
            width: 250px;
        }
        .mode-set a {
            text-decoration: none;
        }
            .mode {
                display: none;
            }
            .mode-active {
                display: block;
            }
            #mode-disabled {
                opacity: 0.50;
                padding: 11px 15px 10px;
                color: #444;
                background: -moz-linear-gradient(center top , #FBFBFB, #F4F4F4) repeat scroll 0 0 transparent;
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBFBFB), to(#F4F4F4));
                border-style: solid;
                border-width: 0 0;
                border-color: #F0F0F0 #E2E2E2 #E4E4E4 #F0F0F0;
                font-size: 85%; line-height: 11px;
                -moz-border-radius: 6px;
                -webkit-border-bottom-left-radius: 6px;
                -webkit-border-top-left-radius: 6px;
                -webkit-border-bottom-right-radius: 6px;
                -webkit-border-top-right-radius: 6px;
                -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.10);
                -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.10);
            }
            #mode-empty {
                
            }
                #mode-empty .create-item {
                    display: block;
                    padding: 11px 15px 10px;
                    color: #444;
                    background: -moz-linear-gradient(center top , #FBFBFB, #F4F4F4) repeat scroll 0 0 transparent;
                    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBFBFB), to(#F4F4F4));
                    border-style: solid;
                    border-width: 0 0;
                    border-color: #F0F0F0 #E2E2E2 #E4E4E4 #F0F0F0;
                    font-size: 85%; line-height: 11px;
                    -moz-border-radius: 6px;
                    -webkit-border-bottom-left-radius: 6px;
                    -webkit-border-top-left-radius: 6px;
                    -webkit-border-bottom-right-radius: 6px;
                    -webkit-border-top-right-radius: 6px;
                    -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.10);
                    -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.10);
                }
            #mode-populated {
                background: -moz-linear-gradient(center top, #3b3b3b, #2c2c2c) repeat scroll 0 0 transparent;
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3b3b3b), to(#2c2c2c));
                border-style: solid;
                border-width: 0 0;
                border-color: #111 #020202 #000 #111;
                -moz-border-radius: 6px;
                -webkit-border-bottom-left-radius: 6px;
                -webkit-border-top-left-radius: 6px;
                -webkit-border-bottom-right-radius: 6px;
                -webkit-border-top-right-radius: 6px;
                -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.10);
                -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.10);
            }
                #mode-populated .mode-to-update {
                    display: block;
                    padding: 11px 30px 10px 15px;
                    color: #ddd;
                    font-size: 85%; line-height: 11px; text-shadow: 1px 1px 0 #161616;
                    -moz-border-radius: 6px;
                    -webkit-border-bottom-left-radius: 6px;
                    -webkit-border-top-left-radius: 6px;
                    -webkit-border-bottom-right-radius: 6px;
                    -webkit-border-top-right-radius: 6px;
                    -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.10);
                    -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.10);
                    background: url('/content/images/updown.png') 235px 10px no-repeat;
                }
                #mode-populated .value {
                    display: block; float: left;
                    padding: 0 15px; margin-right: 8px;
                    color: #ddd;
                    background: -moz-linear-gradient(center top, #4b4b4b, #3c3c3c) repeat scroll 0 0 transparent;
                    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4b4b4b), to(#3c3c3c));
                    border-style: solid;
                    border-width: 0 0;
                    border-color: #111 #020202 #000 #111;
                    font-size: 85%; line-height: 11px; text-shadow: 1px 1px 0 #161616;
                    -moz-border-radius: 6px;
                    -webkit-border-bottom-left-radius: 6px;
                    -webkit-border-top-left-radius: 6px;
                    -webkit-border-bottom-right-radius: 6px;
                    -webkit-border-top-right-radius: 6px;
                    -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.10);
                    -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.10);
                }
            #mode-update {
                position: absolute; left: 0; top: 0;
                width: 100%;
                background: -moz-linear-gradient(center top, #3b3b3b, #2c2c2c) repeat scroll 0 0 transparent;
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3b3b3b), to(#2c2c2c));
                border-style: solid;
                border-width: 0 0;
                border-color: #111 #020202 #000 #111;
                -moz-border-radius: 6px;
                -webkit-border-bottom-left-radius: 6px;
                -webkit-border-top-left-radius: 6px;
                -webkit-border-bottom-right-radius: 6px;
                -webkit-border-top-right-radius: 6px;
                -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.10);
                -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.10);
            }
                #mode-update .option-set {
                    
                }
                    #mode-update .option {
                        display: inline;
                    }
                        #mode-update .option-a {
                            display: block;
                            padding: 11px 15px 10px;
                            color: #ddd;
                            font-size: 85%; line-height: 11px; text-shadow: 1px 1px 0 #161616;
                            -moz-border-radius: 6px;
                        }
                        #mode-update .option-a:hover {
                            background-color: #4b4b4b;
                        }
                        #mode-update .option-selected .option-a {
                            
                        }
                #mode-update .remove-item {
                    display: block;
                    padding: 11px 15px 10px;
                    color: #ddd;
                    font-size: 85%; line-height: 11px; text-shadow: 1px 1px 0 #161616;
                }
                #mode-update .remove-item:hover {
                    background-color: #4b4b4b;
                    -moz-border-radius: 6px;
                    -webkit-border-bottom-left-radius: 6px;
                    -webkit-border-top-left-radius: 6px;
                    -webkit-border-bottom-right-radius: 6px;
                    -webkit-border-top-right-radius: 6px;
                }